/* Importamos una familia de fonts de Google font */
@font-face{ font-family: Neonderthaw;
    src: url('/assets/font/Neonderthaw-Regular.ttf');}
 

h1{
    font-family: fantasy;
    font-style: italic;
}
p{
    color: rgb(4, 112, 112);
}
.texto2{
    font-family: 'Neonderthaw';
    font-size: 20px;
}