h1{
    text-align: center;
}
table{
    margin: auto;
}
td{
background-color: black;
height: 100px;
width: 100px;
}
.verde{
    background-color: green;
}
.gris{
    background-color: gray;
}
.azul{
    background-color: blue;
}